{% extends "base.html" %} 
{% block content %}


<div class="container">
        <section data-bind="sections" id="text_story_VXEZ6PUfuY" class="text_story">
            <header>
                <h3 class="header-text" data-bind="label">
                    <span class="undefined needsclick" contenteditable="false" data-placeholder="Text section">Summary</span>
                </h3>
            </header>
            <article data-bind="content" class="">
                <div id="react-tinymce-470250" class=" mce-content-body" spellcheck="true" placeholder="Description">
                    <p>
                        <span>
                            <span>Electrical engineer pursuing a career in software development and data science.&nbsp;Passionate about
                                technical challenges and learning new skills.</span>
                        </span>
                    </p>
                    <ul>
                        <li>Experience with data manipulation, visualization and analysis through the development of Python scripts
                            and applications;</li>
                        <li>
                            <span>Comprehensive knowledge&nbsp;of microelectronics fabrication and CMOS technology;</span>
                        </li>
                        <li>
                            <span>Designed a piezoelectric microelectromechanical chip currently being tested with promising results;</span>
                        </li>
                        <li>
                            <p>
                                <span>Founded two audio electronics small companies.</span>
                            </p>
                        </li>
                    </ul>
                    <p>
                        <span>
                            <span>
                                <span>
                                    <span>Currently working at the Tech Center department of Unitec Semicondutores and pursuing a Master&rsquo;s
                                        degree in microelectronics and micro-systems at the&nbsp;
                                        <span>Universidade Federal de Minas Gerais</span>
                                        <span>
                                            <span>&nbsp;</span>(UFMG).&nbsp;</span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </p>
                </div>
            </article>
        </section>
        <section data-bind="sections" id="dated_stories" class="dated_story">
            <header>
                <h3 class="header-text" data-bind="label">
                    <span class="undefined needsclick" contenteditable="false" data-placeholder="Custom dated section">Professional Experience</span>
                </h3>
            </header>
            <article data-bind="contents" class="">
                <div class="article-headings">
                    <h6 class="date-range">
                        <span data-bind="start_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">2015</span>
                        </span>
                        <span data-bind="end_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">Present</span>
                        </span>
                    </h6>
                </div>
                <div class="article-body">
                    <h4 data-bind="title">
                        <span class="undefined needsclick" contenteditable="false" data-placeholder="Title">Intern - Trainee - Data Scientist</span>
                    </h4>
                    <div data-bind="organization_url" target="_blank" rel="nofollow">
                        <h5 data-bind="organization">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="Organization">UNITEC SEMICONDUTORES</span>
                        </h5>
                    </div>
                    <div id="react-tinymce-470252" class=" mce-content-body" spellcheck="true" placeholder="Description">
                        <ul>
                            <li>
                                <span>Currently developing a web based framework for generating interactive dashboards, graphical visualization
                                    and automatic reports for metrology and production data.</span>
                            </li>
                            <li>
                                <span>Designed a flexible database structure for storing and retrieving
                                    <span>industrial test&nbsp;</span>data.&nbsp;</span>
                            </li>
                            <li>Developed a secure ombudsman system for anonymous accusation submission, complying with juridical
                                requirements for attaining&nbsp;an ISO certification.</li>
                            <li>
                                <span>
                                    <span>
                                        <span>Developed tools for parsing, conversion, visualization and analysis of industrial chip
                                            testing data, saving thousands in software expenses.</span>
                                    </span>
                                </span>
                            </li>
                            <li>
                                <p>
                                    <span>Worked for 6 weeks in France, selecting and sorting&nbsp;$4M worth of key equipment spare
                                        parts from a closed ATMEL fab.</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span>Developed smart-sheets and Excel applications for document control, tracking resources and
                                        project management.</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article data-bind="contents" class="">
                <div class="article-headings">
                    <h6 class="date-range">
                        <span data-bind="start_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">2014</span>
                        </span>
                        <span data-bind="end_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">2015</span>
                        </span>
                    </h6>
                </div>
                <div class="article-body">
                    <h4 data-bind="title">
                        <span class="undefined needsclick" contenteditable="false" data-placeholder="Title">Research Scholarship Student</span>
                    </h4>
                    <div data-bind="organization_url" target="_blank" rel="nofollow">
                        <h5 data-bind="organization">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="Organization">OptMA Lab - UFMG</span>
                        </h5>
                    </div>
                    <div id="react-tinymce-470254" class=" mce-content-body" spellcheck="true" placeholder="Description">
                        <ul>
                            <li>
                                <span>Idealization and design of a piezoelectric microelectromechanical chip.</span>
                            </li>
                            <li>
                                <p>
                                    <span>Simulation of piezoelectric micro-structures using finite element analysis software.</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article data-bind="contents" class="">
                <div class="article-headings">
                    <h6 class="date-range">
                        <span data-bind="start_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">2011</span>
                        </span>
                        <span data-bind="end_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">2012</span>
                        </span>
                    </h6>
                </div>
                <div class="article-body">
                    <h4 data-bind="title">
                        <span class="undefined needsclick" contenteditable="false" data-placeholder="Title">Entrepreneur</span>
                    </h4>
                    <div data-bind="organization_url" target="_blank" rel="nofollow">
                        <h5 data-bind="organization">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="Organization">STOMP Audio Labs</span>
                        </h5>
                    </div>
                    <div id="react-tinymce-470256" class=" mce-content-body" spellcheck="true" placeholder="Description">
                        <ul>
                            <li>Co-founder of the company.</li>
                            <li>Audio electronics company specialized in manufacturing high quality guitar pedal effects.</li>
                            <li>Central role in the development of the company identity, product strategy and business plan.</li>
                            <li>Experience with design and testing of analog circuits and with prototype and PCB making.</li>
                        </ul>
                    </div>
                </div>
            </article>
        </section>
        <section data-bind="sections" id="degrees" class="dated_story">
            <header>
                <h3 class="header-text" data-bind="label">
                    <span class="undefined needsclick" contenteditable="false" data-placeholder="Education">Education</span>
                </h3>
            </header>
            <article data-bind="contents" class="">
                <div class="article-headings">
                    <h6 class="date-range">
                        <span data-bind="start_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">2017</span>
                        </span>
                        <span data-bind="end_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">Present</span>
                        </span>
                    </h6>
                </div>
                <div class="article-body">
                    <h4 data-bind="title">
                        <span class="undefined needsclick" contenteditable="false" data-placeholder="Degree name">Master in Electrical Engineering (Microsystems)</span>
                    </h4>
                    <div data-bind="organization_url" target="_blank" rel="nofollow">
                        <h5 data-bind="organization">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="School name">Universidade Federal de Minas Gerais</span>
                        </h5>
                    </div>
                    <div id="react-tinymce-470258" class=" mce-content-body" spellcheck="true" placeholder="Description">
                        <ul>
                            <li>
                                <span>Studying micro-energy harvesting for the development of autonomous wireless circuits.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article data-bind="contents" class="">
                <div class="article-headings">
                    <h6 class="date-range">
                        <span data-bind="start_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">2010</span>
                        </span>
                        <span data-bind="end_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">2016</span>
                        </span>
                    </h6>
                </div>
                <div class="article-body">
                    <h4 data-bind="title">
                        <span class="undefined needsclick" contenteditable="false" data-placeholder="Degree name">Bachelor in Electrical Engineering</span>
                    </h4>
                    <div data-bind="organization_url" target="_blank" rel="nofollow">
                        <h5 data-bind="organization">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="School name">Universidade Federal de Minas Gerais</span>
                        </h5>
                    </div>
                    <div id="react-tinymce-470260" class=" mce-content-body" spellcheck="true" placeholder="Description">
                        <ul>
                            <li>Specialization in power electronics and microelectromechanical systems.</li>
                        </ul>
                    </div>
                </div>
            </article>
            <article data-bind="contents" class="">
                <div class="article-headings">
                    <h6 class="date-range">
                        <span data-bind="start_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">2017</span>
                        </span>
                        <span data-bind="end_date">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="YYYY">Present</span>
                        </span>
                    </h6>
                </div>
                <div class="article-body">
                    <h4 data-bind="title">
                        <span class="undefined needsclick" contenteditable="false" data-placeholder="Degree name">Online Courses</span>
                    </h4>
                    <div data-bind="organization_url" target="_blank" rel="nofollow">
                        <h5 data-bind="organization">
                            <span class="undefined needsclick" contenteditable="false" data-placeholder="School name">Coursera and Udemy</span>
                        </h5>
                    </div>
                    <div id="react-tinymce-470262" class=" mce-content-body" spellcheck="true" placeholder="Description">
                        <ul>
                            <li>Machine Learning (Stanford Online)</li>
                            <li>
                                <span>Data Science&nbsp;</span>
                            </li>
                            <li>Several Python Courses</li>
                            <li>
                                <span>Full Stack Web Development&nbsp;</span>
                            </li>
                            <li>Object Oriented Programming in C++ (ongoing)</li>
                            <li>Statistical Analysis (ongoing)</li>
                            <li>
                                <span>Database Design (ongoing)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </section>
        <section data-bind="sections" id="portfolio" class="portfolio">
            <header>
                <h3 class="header-text" data-bind="label">
                    <span class="undefined needsclick" contenteditable="false" data-placeholder="Portfolio">Projects and Publications</span>
                </h3>
            </header>
            <article class="portfolio " data-bind="content">
                <div id="react-tinymce-470264" class=" mce-content-body" spellcheck="true" placeholder="Description">
                    <p>
                        <strong>Design of a Piezoelectric MEMS Chip:</strong>
                    </p>
                    <ul>
                        <li>
                            <p>
                                <span>Solo designer of a chip containing a variety of structures that explores the functionalities
                                    of a piezoelectric thin film on top of silicon&nbsp;
                                    <span>structures, released with through wafer etch, for potential application in</span>
                                </span>&nbsp;sensing several physical quantities, measuring properties of fluids, micro-energy harvesting,
                                RF filters, generating surface acoustic waves,&nbsp;
                                <span>and</span>&nbsp;other possibilities.</p>
                        </li>
                        <li>
                            <p></p>
                            <p>
                                <span>Achieved promising results in the preliminary tests conducted in one of the structures.</span>
                            </p>
                        </li>
                    </ul>
                    <p>
                        <strong>
                            <span>Papers:</span>
                        </strong>
                    </p>
                    <ul>
                        <li>
                            <p>
                                <span>
                                    <em>Design and Simulation of a Micro Piezoelectric Energy Harvester Based on a Mass Proof Cantilever</em>
                                    &ndash;&nbsp; Seminatec conference (2017)</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span></span>
                            </p>
                            <p>
                                <em>Modeling and Analysis of a Microfabricated Piezoelectric Cantilever for Energy Harvesting</em>
                                <span>
                                &ndash; Chip on the Sands conference (2017)</span>
                            </p>
                        </li>
                        <li>
                            <span>
                                <span>
                                    <em>High-Q MEMS Ring Resonator Design for Multi-band Filter Application</em> - Submitted for
                                    Chip on the Pampas conference (2018)</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
    </div>


{% endblock %}